/* PM Scrum Tool CSS
Change Log
0.1 Initial release: Green theme. Still not sure if all the required elements are represented yet...
0.2 Changed to blue
*/

body
{
	background-color:#8cb1c3;
}

table
{
	margin-left:5%;
	margin-right:5%;
	border-collapse:collapse;
	border: 1px solid black;
	width:90%;
}

caption 
{
	caption-side:bottom;
	color:#094961;
	text-shadow:0.1em 0.1em 0.2em white;
}

th
{
	border: 1px solid black;
	background-color:#6e8692;
}

tr
{
	border: 1px solid black;
	background-color:#8cb1c3;
}

tr:nth-child(even)
{
	border: 1px solid black;
	background-color:#387997;
}

td
{
	border: 1px solid black;
}

h1
{
	text-transform:uppercase;
    color:#0087c1;
	margin-left:5%;
	margin-right:5%;
	text-shadow:0.1em 0.1em 0.2em white;
}

h2,h3,h4,h5,h6
{
	text-transform:capitalize;
	color:#0087c1;
	margin-left:5%;
	margin-right:5%;
	text-shadow:0.1em 0.1em 0.2em white;
}


p
{
	margin-left:5%;
	margin-right:5%;
	background-color:#387997;
}

div
{
}

br
{
	clear:left;
}

form
{
	margin-left:5%;
	margin-right:5%;
}

label
{
	float:left;
	width:25%;
	font-weight:bold;
}

input
{
	width:25%;
	margin-bottom:5px;
}

textarea
{
	width:74%;
	margin-bottom:5px;
}

a:link,a:visited
{
	display:block;
	font-weight:bold;
	/*color:#770055;
	background-color:#93E87D; */
	margin-left:5%;
	margin-right:5%;
}

a:hover,a:active
{
	/*
	background-color:#92F05D; */
}

